.features{
    padding: 6rem 0;
    &__item{
        width: 100%;
        @include dflex-center;
        margin-bottom: 3rem;
        user-select: none;
        &--logo{
            width: 100px;
            height: 100px;
            background-color: $primary-color;
            border-radius: 50%;
            @include dflex-center;
            & img{
                width: 40px;
                height: 40px;
            }
        }
    }
    &__text {
        text-align: center;
        &--header{
            font-size: 2.2rem;
            margin-bottom: 3rem;
            color: $text-header-color;
            font-family: 'Raleway';
            font-weight: 500;
        }
        &--content{
            font-size: 1.6rem;
            color: $text-color;
            line-height: 2.6rem;
        }
    }
}

.get__notify{
    background-color: $background-color;
    padding: 6rem 0;
    .notify__info{
        &--header{
            font-size: 2.2rem;
            font-family: 'Raleway';
            color: $text-header-color;
            margin-bottom: 3rem;
        }
        &--content{
            font-size: 1.6rem;
            color: $text-color;
            margin-bottom: 3rem;
            line-height: 2.6rem;
        }
        &--input{
            display: flex;
            justify-content: center;
            width: 440px;
            height: 5rem;
            user-select: none;
            & input{
                outline: none;
                color: $text-color;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                border: 1px solid $text-color;
                border-style: solid;
                border-color: #c8c8c8 transparent #c8c8c8 #c8c8c8;
                border-width: 1px;
                flex: 1;
                padding: 2rem;
                font-size: 1.8rem;
            }
            & a.btn{
                color: $white-color;
                background-color: $primary-color;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                width: 140px;
                font-size: 2.2rem;
                @include dflex-center;
                &:hover{
                    opacity: 0.8;
                }
            }
        }
    }
    .notify__video {
        position: relative;
        user-select: none;
    }
    .notify__video--control {
        position: absolute;
        bottom: 2rem;
        left: 0;
        right: 0;
        padding-left: calc(40px / 2);
    }
}